@model StockTrack.ViewModels.SaleVM
@{
    ViewData["Title"] = "Delete Sale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form asp-action="Delete">
    <input asp-for="Id" type="hidden" />
    <input asp-for="ProductId" type="hidden" />
    <input asp-for="UserId" type="hidden" />
    <input asp-for="QuantitySold" type="hidden" />
    <input asp-for="TotalPrice" type="hidden" />
    <input asp-for="SaleDate" type="hidden" />

    <!-- Confirmation Modal -->
    <div class="modal fade" id="confirmation-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body text-center font-18">
                    <h4 class="padding-top-30 mb-30 weight-500">Are you sure you want to delete this sale (@(Model.Product?.Name ?? "Unknown Product"))?</h4>
                    <div class="padding-bottom-30 row" style="max-width: 170px; margin: 0 auto;">
                        <div class="col-6">
                            <a asp-action="Index" class="btn btn-secondary border-radius-100 btn-block confirmation-btn"><i class="fa fa-times"></i></a>
                            NO
                        </div>
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary border-radius-100 btn-block confirmation-btn"><i class="fa fa-check"></i></button>
                            YES
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <!-- Show the confirmation modal on page load -->
    <script>
        $(document).ready(function () {
            $('#confirmation-modal').modal('show');
        });
    </script>
}